$primary: #1f1b2c;
$primary_100: #1f1b2c80;
$primary_200: #1f1b2c99;
$primary_300: #1f1b2cb2;
$primary_400: #1f1b2ccc;
$primary_500: #1f1b2ce5;
$primary_bg: #232234;

$success: #296251;
$success_200: #3e6957;

$warning: #941b0b;
$warning_200: #ea9a91;

$info: #f1eef9;
